// 1.變數
// 整體顏色
$gr: grey;
$wh: white;
$blk: black;
$bl: rgb(82, 82, 255);
// 整體字級
$h1: 26px;
$h2: 16px;
$h3: 14px;
$h4: 12px;
// 寬度
$bw: 254px;
$w: 552px;
// 樣板框格式
$bh_s: 66px;
$bh_l: 115px;
$mar: 0 0 33px 0;
// 標題格式
$ti_h: 33px;
// 選項padding
$b_m_pad: 0 0 0 20px;



// 2.巢狀
// 整體規則
body {
    margin: 0;
    font-family: "微軟正黑體", "Noto Sans TC ";

    h1 {
        font-size: $h1;
        margin: 0;
        text-align: center;
        line-height: 72px;
        color: $wh;
    }
    h2 {
        font-size: $h2;
        margin: 0;
    }
    h3 {
        font-size: $h3;
        margin: 0;
        color: $gr;
    }
    h4 {
        font-size: $h4;
        margin: 0;
    }
    input {
        border-radius: 5px;
        border: 1px solid $blk;
        // width: 100%;
    }
    ::placeholder{
        padding: 5px 0 0 15px;
        
    }
    
    // 標題
    #header {
        width: $w;
        height: 71px;
        background-color: $bl;
        margin: 0 auto;
    }
    // 提示
    #textbox{
        text-align: center;
        h4{
            padding: 50px 0 40px 0;
            color: $gr;
        }
    }
    // 問卷
    #container {
        width: $bw;
        height: 100%;
        height: 100%;
        background-color: $wh;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        .title {
            width: $bw;
            height: $ti_h;
            background-color: $wh;
        }
        // 依據框大小設定樣板
        .box-S {
            width: $bw;
            height: $bh_s;
            margin: $mar;
            input{
                width: 100%;
            }
        }
        .box-M {
            margin: $mar;

            #box-m {
                padding: $b_m_pad;
            }
        }

        .box-L {
            
            display: flex;
            flex-wrap: wrap;
            margin: $mar;

            label {
                width: 100px;
            }
            #other{
                width: 100%;
            }
        
        }
        .box-XL{
            width: $bw;
            margin: $mar;
            #reply{
                width: 100%;
                border-radius: 10px;
            }
        }
        //送出按鈕
        #send {
            margin: 20px auto;
            background-color: $bl;
            color: $wh;
            font-family: "微軟正黑體", "Noto Sans TC ";
            border: 0;
            width: 100px;
            height: 28px;
        }
    }
}
